.home{
      padding-top: 120px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.cardsdeck{
      width: 80%;
      display: flex;
      margin-top: 20px; 
      justify-content: center;
}