@import '../../assets/style/variables.module.scss';

.login {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: white;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  form {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
   
  }

  .imageWrapper {
    width: 45%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .logo {
      position: absolute;
      z-index: 2;
      width: 200px;
    }

    .imageCover {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        289.27deg,
        #333e48 17.02%,
        rgba(51, 62, 72, 0.54) 108.98%
      );
      position: absolute;
      opacity: 0.4;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
}
@media screen and (max-width: 600px){
  .login{
    flex-direction: column-reverse;
    width: 100% !important;
    form{
      width: 60%;
    }
    .imageWrapper{
      width: 100%;
      height: 20%;
      .logo{
        width: 90px;
      }
    }
  }
}